.loginForm{
    width: 100%;
    margin-top: 40%;
}
.loginItem{
    width: 90%;
    margin: auto;
    display: block;
    --highlight-color: #f4cd6f;
    --highlight-color-focused: #f4cd6f;
    --highlight-color-valid: #f4cd6f;
    --border-color: #f4cd6f;
}
.item-has-focus.label-floating.sc-ion-label-md-h, .item-has-focus .label-floating.sc-ion-label-md-h, .item-has-placeholder.label-floating.sc-ion-label-md-h, .item-has-placeholder .label-floating.sc-ion-label-md-h, .item-has-value.label-floating.sc-ion-label-md-h, .item-has-value .label-floating.sc-ion-label-md-h {
    color: #f4cd6f
}
.item-has-focus.label-floating.sc-ion-label-ios-h, .item-has-focus .label-floating.sc-ion-label-ios-h, .item-has-placeholder.label-floating.sc-ion-label-ios-h, .item-has-placeholder .label-floating.sc-ion-label-ios-h, .item-has-value.label-floating.sc-ion-label-ios-h, .item-has-value .label-floating.sc-ion-label-ios-h {
    color: #f4cd6f
}
.loginButton{
    width: 90%;
    height: 45px;
    margin: auto;
    display: block;
    margin-top: 5%;
}
.customModal{
    font-family: 'Product Sans', sans-serif;
    color: #000000;
}
.passwordText{
    font-size: 4.8vw;
    margin-top: 7%;
}